@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.header {
    width: 100%;
    height: 50px;
    background-color: rgba(v.$color-white, 0.20);
    border-bottom: 1px solid v.$color-white;

    &__nav {
        height: 100%;
        width: 100%;
    }
}

.mobile-menu {
    display: none;

    &__burger {
        @include m.position(absolute, 10, -1, top, right, 15px, 15px);

        &-icon {
            color: v.$color-white;
            width: 33px;
            height: 18px;
            @extend %hover-black;
        }
    }

    &__toggler {
        @include m.position(absolute, 10, -1, top, right, 15px, 15px);
        opacity: 0;

        &:checked+.mobile-nav {
            translate: 0 0;
        }
    }

    &__nav {
        @include m.position(fixed, 999, 0);
        translate: 100% 0;
    }

    @media (max-width: v.$media-md) {
        display: block;
    }
}

.mobile-nav {
    padding: 100px 70px 0;
    background-color: rgba(v.$color-black, $alpha: .2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transition: translate .22s;

    &__list {
        @include m.d-flex(start, start, nowrap, column, 0, 20px);

        &-item {
            &-link {
                @include m.font(30px, 400, v.$color-white);
                text-shadow: 2px 2px 5px rgba(v.$color-black, 0.3);
            }
        }
    }

    &__close {
        @include m.position(absolute, 10, -1, top, right, 15px, 18px);

        &-icon {
            color: v.$color-white;
            width: 25px;
            height: 22px;
            @extend %hover-black;
        }
    }

    @media (max-width: v.$media-min) {
        padding: 80px 40px 0;

        &__list {
            @include m.d-flex(start, start, nowrap, column, 0, 10px);

            &-item {
                &-link {
                    @include m.font(20px, 400, v.$color-white);
                }
            }
        }
    }
}

.nav {
    @include m.d-flex(start, center);
    color: v.$color-white;

    &__title {
        @include m.d-flex();
        height: 100%;
        width: 255px;
        border-right: 1px solid v.$color-white;

        &-link {
            font-size: 25px;
            font-weight: 500;
            color: v.$color-white;

            span {
                font-weight: 700;
            }

            @extend %hover-black;
        }
    }

    &__links {
        border-right: 1px solid v.$color-white;
        height: 100%;
        flex-grow: 1;

        &-list {
            height: 100%;
            padding: 0 0 0 min(100px, 5vw);

            @media (max-width: v.$media-lg) {
                padding: 0;
            }
        }
    }


    &__covid-wrapper {
        height: 100%;
        padding: 0 30px;
        border-right: 1px solid v.$color-white;
    }

    &__globe-wrapper {
        height: 100%;
        width: 90px;
    }

    @media (max-width: v.$media-md) {

        &__links,
        .covid,
        .globe {
            display: none;
        }
    }
}

.list {
    @include m.d-flex(start, center, nowrap, row, min(90px, 5vw));

    &__item {
        &-link {
            font-size: 22px;
            font-weight: 400;
            color: v.$color-white;

            @extend %hover-black;
        }
    }

    @media (max-width: v.$media-lg) {
        @include m.d-flex(center, center, nowrap, row, min(90px, 5vw));
    }
}

.covid {
    @include m.d-flex();

    &__link {
        font-size: 16px;
        font-weight: 700;
        color: v.$color-white;

        @extend %hover-black;
    }
}

.globe {
    @include m.d-flex();

    &__link {
        &-icon {
            fill: v.$color-white;
            width: 27px;
            height: 28px;

            @extend %hover-black;
        }
    }
}