@use "variables" as v;

%hover-black {
    transition: color .2s;
    &:hover {
        cursor: pointer;
        color: v.$color-black;
    }
}

%hover-light {
    transition: color .2s;
    &:hover {
        cursor: pointer;
        color: v.$color-white;
    }
}

